body {
  min-height: 100vh;
  display: flex;
  background: radial-gradient(
    circle at 57% 50%,
    rgba(0, 0, 0) 10%,
    #22b573
  );
  color: white;
}
.sidebar {
  width: 15%;
  background-color: #000000;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#startlogo {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 40%;
}
.sidebar a {
  display: block;
  padding: 10px 10px;
  margin-block: 10px;
  margin-inline: 30px;
  color: #ffffff;
  text-decoration: none;
}
.sidebar a:hover {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 10px;
}
#end {
  margin-top: auto;
  margin-inline: auto;
}
#end p{
  text-align: center;
  font-size: 12px;
}
.content {
  flex: 1; 
  margin-inline: 100px;       
}
#preview {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#preview img {
  height: 500px;
  object-fit: contain;

}
.buttonrow {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.classification-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}
.details, .seuils {
  display: none;
}
.lightbox-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.lightbox-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  position: relative;
}
.lightbox-img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: auto;
}
.lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.margin-top {
  margin-top: 1rem;
}
.btn{
  margin: 5px;
  color: white;
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
  background-color: #ffffff;
  color: #000000;
}
#redbtn{
  color: white;
  background-color: transparent;
  border: 1px solid red;
  transition: background-color 0.3s, color 0.3s;
}
#redbtn:hover {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  filter:drop-shadow(0 0 10px rgba(255, 0, 0, 1));
}
#greenbtn{
  color: white;
  background-color: transparent;
  border: 1px solid green;
  transition: background-color 0.3s, color 0.3s;
}
#greenbtn:hover {
  background-color: rgba(0, 128, 0, 0.1);
  color: green;
  filter:drop-shadow(0 0 10px rgba(0, 128, 0, 1));
}
#whitebtn{
  margin-left:20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition: background-color 0.3s, color 0.3s;
}
#whitebtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  filter:drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

.tableau {
  border-collapse: separate;
  border-spacing: 10px 10px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 700px;
  overflow-y: auto;
}

.tableau thead {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.tableau tbody tr {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.tableau tbody td{
  vertical-align: middle;
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  max-width: 60px;
}
.tableau thead th{
  vertical-align: middle;
  border: none;
  background-color: rgba(172, 255, 47, 0.5);
  border-radius: 10px;
} 

.tableau img {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}