<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Modifier les règles</title>
  </head>
  <body>
    <h2>Modifier les règles de classification</h2>
    <form method="POST">
      {% for rule in rules %}
      <label for="{{ rule.name }}">{{ rule.name }}</label>
      <input
        type="number"
        step="0.01"
        name="{{ rule.name }}"
        value="{{ rule.value }}"
      />
      <br />
      {% endfor %}
      <button type="submit">Enregistrer</button>
    </form>
    <h3>Règles actuelles :</h3>
    <ul>
      {% for seuil_key,seuil_value in seuils.items() %}
      <label for="{{ seuil_key }}">{{ seuil_key }}</label>
      {% for val in seuil_value %}
      <input
        type="number"
        step="0.01"
        name="{{ seuil_key }}"
        value="{{ val }}"
      />
      {% endfor %}
      <br />
      {% endfor %}
    </ul>
    <h3>Règles Plein</h3>
    <ul>
      {% for seuil_plein_key, seuil_plein_value in seuils_plein.items() %}
      <label for="{{ seuil_plein_key }}">{{ seuil_plein_key }}</label>
      {% for val in seuil_plein_value %}
      <input
        type="number"
        step="0.01"
        name="{{ seuil_plein_key }}"
        value="{{ val }}"
      />
      {% endfor %}
      <br />
      {% endfor %}
    </ul>
    <h3>Règles Vide</h3>
    <ul>
      {% for seuil_vide_key, seuil_vide_value in seuils_vide.items() %}
      <label for="{{ seuil_vide_key }}">{{ seuil_vide_key }}</label>
      {% for val in seuil_vide_value %}
      <input
        type="number"
        step="0.01"
        name="{{ seuil_vide_key }}"
        value="{{ val }}"
      />
      {% endfor %}
      <br />
      {% endfor %}
    </ul>
    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <p style="color: green">{{ message }}</p>
    {% endfor %} {% endwith %}
    <a href="/">Retour à l'accueil</a>
  </body>
</html>
